fastapi==0.95.2
uvicorn[standard]==0.23.2
sqlalchemy==2.0.38
databases[postgresql]==0.9.0
pyjwt==2.10.1
asyncpg==0.30.0
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.10
python-multipart==0.0.20
requests==2.31.0
polyline==2.0.2
geopy==2.4.1
fastapi-users==14.0.1
fastapi-users-db-sqlalchemy==7.0.0
alembic==1.14.1
jose==1.0.0